@charset "UTF-8";
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  color: #303030;
  font-size: 1.6rem;
}
img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* --------------------
common
----------------------- */
.section-title {
  padding-top: 85px;
  margin-bottom: 30px;
  font-size: 5.0rem;
  font-weight: 100;
}
.common-wrapper {
  padding-left: 4.5%;
}
/* ----------------------------------------
header
----------------------------------------- */
.header {
  background: radial-gradient(#a7a9a6, #6d6f6c) fixed;
  position: relative;
}
/* navigation -----------------------*/
.navigation{
  display: flex;
  justify-content: space-between;
}
.navigation-list {
  background-color: #fff;
  width: auto;
  text-align: center;
  padding: 10px;
}
.navigation-list img {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}
/* PC表示 */
.pc-nav {
  display: block;
  margin: 0 auto;
}
/* sp非表示 */
.sp-nav {
  display: none;
}
.navigation-list a {
  font-size: 1.6rem;
  color: #303030;
  margin-top: 5px;
  display: block;
}
/* main-visual---------------------- */
.name-wrapper {
  position: absolute;
  top: 18%;
  left: 10%;
  color: #fff;
  letter-spacing: 1px;
}
.name-wrapper h1 {
  font-size: 16rem;
  line-height: 1;
  font-weight: 100;
}
.name-wrapper p {
  font-size: 3.0rem;
  font-weight: 100;
}
.fv {
  text-align: end;
  margin-right: 7%;
  font-size: 0;
  width: 100%;
}
.fv img {
  width: 55%;
  padding-top: 3.2%;
}

/* ---------------------------------------
About
---------------------------------------- */
.about {
  display: flex;
  position: relative;
  overflow: hidden;
}
.program-language {
  font-size: 2.8rem;
  margin-bottom: 30px
}
.about-text {
  font-size: 1.8rem;
  margin-bottom: 40px;
}
.about p {
  margin-bottom: 1.6rem;
}
.icon-list {
  display: flex;
  padding-bottom: 80px;
}

.icon-list img {
  width: 14%;
  margin: 15px 0 0;
}
/* PC画像 -----------------------------*/
.about-img img {
  position: absolute;
  top: 6.5%;
  right: -22%;
  width: 60%;
  object-fit: cover;
}
/* -----------------------------------------
Projects
------------------------------------------ */
.background-color {
  background: radial-gradient(#a7a9a6, #6d6f6c) fixed;
  color: #fff;
}
.projects {
  margin-bottom: 9.63vw;
}
.br-sp {
  display: none;
}
.container {
  display: flex;
  font-size: 0px;
}
.project-img img {
  height: 45.8vw;
  width: 45.8vw;
}
.project-list {
  padding-left: 45px;
  padding-top: 40px;
}
.project-list h3,h4 {
  font-size: 3rem;
  font-weight: 100;
  margin-bottom: 20px;
}
.project-img , .project-list{
  width: 50%;
}
.project-text {
  margin-bottom: 30px;
}
.project-list p {
  font-size: 1.8rem;
  line-height: 2;
}
.project-link {
  display: flex;
  padding-top: 30px;
  font-size: 1.6rem;
}
.project-link li {
  margin-right: 20px;
  border: solid 1px;
  padding: 5px 15px;
}
.twitter li:first-child {
  color: gray;
  background-color: #fff;
}
.netflix li:last-child {
  color: #fff;
  background-color: #303030;
}
/* ------------------------------------------
contacts
------------------------------------------- */
.contacts {
  background-color: #2f2f2f;
  color: #fff;
  padding-bottom: 50px;
}
.sp-content-title {
  display: none;
}
.contact-list {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.contact-list img {
  width: 1.56vw;
  height: 1.56vw;
  margin-right: 15px;
}
.contact-list p {
  font-size: 1.56vw;
}
.pc-words {
  display: block;
}
/* -----------------------------------------
footer
------------------------------------------- */
#footer {
  background-color: #858784;
  color: #fff;
  width: 100%;
}
#footer p {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  font-size: 1.6rem;
}

/*-------------------------------------------
SP仕様
-------------------------------------------*/
@media screen and (max-width: 500px) {
  /* header  ---------------------*/
  .navigation-list {
    background-color: transparent;
    width: auto;
    height: auto;
    text-align: center;
    padding: 0.8vw 0;
    margin: 2.63vw 3.94vw;
    justify-content: space-between;
    text-align: center;
    padding: 0.8vw 0;
  }
  .navigation-list a {
    font-size: 1.6rem;
    color: #fff;
  }

  /* pc非表示 */
  .pc-nav {
    display: none;
  }
    /* sp表示 */
  .sp-nav {
    display: block;
  }
  /* main-visual -------------------- */
  .main-visual {
    position: relative;
    text-align: center;
  }
  .name-wrapper {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    letter-spacing: 3px;
  }
  .name-wrapper h1 {
    font-size: 8rem;
    letter-spacing: 4px;
    margin-bottom: 30px;
  }
  .fv {
    text-align: center;
    margin: 0 auto;
    font-size: 0;
  }
  .fv img {
    width: 55%;
    margin-top: 380px;
    width: 100%;
  }

  /* common  -------------------*/
  .common-wrapper {
    text-align: center;
    padding: 0 20px;
  }
  .section-title {
    font-size: 4.5rem;
    padding-top: 30px;
    margin-bottom: 40px;
  }
  .container {
    flex-direction: column;
  }
  .pc{
    display: none;
  }
  /* about  ----------------------*/
  .about{
    flex-direction: column;
  }
  .about .section-title {
    padding-top: 30px;
  }
  .program-language {
    margin: 40px 0 30px;
    font-size: 2.0rem;
  }
  .about-text {
    margin-bottom: 30px;
    font-size: 1.5rem;
  }
  .about-img {
    display: none;
  }
  .support {
    font-size: 1.4rem;
  }
  .icon-list {
    padding: 0;
    margin: 0 auto 40px;
    justify-content: center;
  }
  .icon-list img {
    width: 20%;
    margin: 10px 0;
  }
  /* projects-------------------*/
  .sp-content-title {
    margin: 40px 0 30px;
    text-align: center;
    font-size:3.0rem;
    display: block;
    font-weight: 100;
  }
  .pc-words {
    display: none;
  }
  .br-sp {
    display: block;
  }
  .project-img {
    width: 90%;
    margin: 0 auto;
  }
  .project-img img {
    width: 100%;
    height: auto;
  }
  .project-list {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .project-list h4 {
    font-size: 4.47vw;
    margin-bottom: 3.42vw;
    margin-top: 7.89vw;
  }
  .project-text {
    margin-top: 6.05vw;
  }
  .project-text p {
    font-size: 3.42vw;
  }
  .project-account p {
    font-size: 3.94vw;
  }
  .project-link {
    justify-content: center;
    font-size: 3.68vw;
  }
  .twitter {
    margin-bottom: 17.63vw;
  }
  .netflix {
    margin-bottom: 12.3vw;
    margin: 0;
  }
  /* contact ----------------------*/
  .contact-list {
    justify-content: center;
    margin-top: 10px;
  }
  .contact-list p {
    font-size:  1.8rem;
  }
  .contact-list img {
    width: 25px;
    height: 25px;
  }
  .contacts {
    padding-bottom: 30px;
  }
  /* footer ---------------------*/
  #footer p {
    padding: 20px 0;
  }
}
