@charset "UTF-8";
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  color: #303030;
  font-size: 1.6rem;
}
img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* --------------------
common
----------------------- */
.section-title {
  padding-top: 55px;
  margin-bottom: 30px;
  font-size: 5.0rem;
  font-weight: 100;
}
.common-wrapper {
  padding-left: 4.5%;
}
/* ----------------------------------------
header
----------------------------------------- */
header {
  background: radial-gradient(#a7a9a6, #6d6f6c) fixed;
  position: relative;
}
.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation-list {
  background-color: #fff;
  text-align: center;
  padding: 10px 10px 5px;
}
.navigation-list img {
  width: 25px;
  height: 25px;
  margin: 0 auto;
}
.navigation-list a {
  font-size: 1.6rem;
  color: #303030;
  margin-top: 5px;
  display: block;
}
/* main-visual---------------------- */
.fv-name {
  position: absolute;
  top: 18%;
  left: 10%;
  color: #fff;
  letter-spacing: 1px;
}
.fv-name h1 {
  font-size: 14rem;
  line-height: 1;
  font-weight: 100;
}
.fv-name p {
  font-size: 3.0rem;
  font-weight: 100;
}
.fv-img {
  text-align: end;
  font-size: 0;
  padding-top: 3.2%;
}
.fv-img img {
  width: 55%;
}
/* ---------------------------------------
About
---------------------------------------- */
.about{
  overflow: hidden;
}
.about-wrapper {
  display: flex;
  position: relative;
}
.program-language {
  font-size: 2.3rem;
  margin-bottom: 40px
}
.about-detail {
  margin-bottom: 40px;
}
.support{
  font-size: 1.5rem;
}
.icon-list {
  display: flex;
  padding-bottom: 80px;
}
.icon-list img {
  width: 14%;
  margin: 15px 0 0;
}
/* PC画像 -----------------------------*/
.about-img img {
  position: absolute;
  top: -10.5%;
  right: -12%;
  width: 55%;
  object-fit: cover;
}
/* -----------------------------------------
Projects
------------------------------------------ */
.background-color {
  background: radial-gradient(#a7a9a6, #6d6f6c) fixed;
  color: #fff;
}
.br-sp {
  display: none;
}
.project-list {
  display: flex;
}
.project-img , .project-text{
  width: 50%;
}
.project-img{
  font-size: 0;
}
.project-text {
  padding-left: 70px;
  padding-top: 80px;
}
.project-list h3,h4 {
  font-size: 3rem;
  font-weight: 100;
  margin-bottom: 15px;
}
.project-text-detail {
  margin-bottom: 30px;
}
.project-list p {
  line-height: 1.8;
}
.project-link {
  display: flex;
  padding-top: 30px;
  font-size: 1.6rem;
}
.project-link li {
  margin-right: 20px;
  border: solid 1px;
  padding: 5px 15px;
}
.twitter li:first-child {
  color: gray;
  background-color: #fff;
}
.netflix li:last-child {
  color: #fff;
  background-color: #303030;
}
/* ------------------------------------------
contacts
------------------------------------------- */
.contacts {
  background-color: #2f2f2f;
  color: #fff;
  padding-bottom: 50px;
}
.sp-content-title {
  display: none;
}
.contact-list {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.contact-list img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.contact-list a {
  color: #fff;
  font-size: 1.8rem;
}
.pc-words {
  display: block;
}
/* -----------------------------------------
footer
------------------------------------------- */
#footer {
  background-color: #858784;
  width: 100%;
}
#footer p {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  font-size: 1.6rem;
}

/*-------------------------------------------
SP仕様
-------------------------------------------*/
@media screen and (max-width: 500px) {
  /* header  ---------------------*/
  .navigation-list {
    background-color: transparent;
    width: auto;
    height: auto;
    text-align: center;
    padding: 0.8vw 0;
    margin: 2.63vw 3.94vw;
    justify-content: space-between;
    text-align: center;
    padding: 0.8vw 0;
  }
  .navigation-list a {
    font-size: 1.6rem;
    color: #fff;
  }

  /* pc非表示 */
  .pc-nav {
    display: none;
  }
    /* sp表示 */
  .sp-nav {
    display: block;
  }
  /* main-visual -------------------- */
  .fv-name {
    position: absolute;
    top: 215px;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    letter-spacing: 3px;
  }
  .fv-name h1 {
    font-size: 7rem;
    letter-spacing: 4px;
    margin-bottom: 20px;
  }
  .fv-name p{
    font-size: 1.4rem;
  }
  .fv-img {
    text-align: center;
    margin: 0 auto;
    font-size: 0;
  }
  .fv-img img {
    width: 72%;
    margin-top: 250px;
    width: 100%;
  }

  /* common  -------------------*/
  .common-wrapper {
    text-align: center;
    padding: 0 20px;
  }
  .section-title {
    font-size: 4.5rem;
    padding-top: 30px;
    margin-bottom: 40px;
  }
  .container {
    flex-direction: column;
  }
  .pc{
    display: none;
  }
  /* about  ----------------------*/
  .about{
    flex-direction: column;
  }
  .about .section-title {
    padding-top: 30px;
  }
  .program-language {
    margin: 40px 0 30px;
    font-size: 1.8rem;
  }
  .about-text {
    margin-bottom: 30px;
    font-size: 1.5rem;
  }
  .about-img {
    display: none;
  }
  .support {
    font-size: 1.4rem;
  }
  .icon-list {
    padding: 0;
    margin: 0 auto 40px;
    justify-content: center;
  }
  .icon-list img {
    width: 20%;
    margin: 10px 0;
  }
  /* projects-------------------*/
  .sp-content-title {
    margin: 40px 0 15px;
    text-align: center;
    font-size:3.0rem;
    display: block;
    font-weight: 100;
  }
  .pc-words {
    display: none;
  }
  .br-sp {
    display: block;
  }
  .project-list{
    flex-direction: column;
  }
  .project-img {
    width: 90%;
    margin: 0 auto;
  }
  .project-img img {
    width: 100%;
    height: auto;
  }
  .project-list {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .project-list h4 {
    font-size: 2.4rem;
    margin: 20px 0;
  }
  .project-text {
    width: 95%;
    margin: 0 auto;
    padding: 50px 0;
  }
  .project-link {
    justify-content: center;
  }

  /* contact ----------------------*/
  .contact-list {
    justify-content: center;
    margin-top: 10px;
  }
  .contact-list a {
    font-size:  1.8rem;
  }
  .contact-list img {
    width: 25px;
    height: 25px;
  }
  .contacts {
    padding-bottom: 30px;
  }
  /* footer ---------------------*/
  #footer p {
    padding: 20px 0;
  }
}
